body {
  margin: 0;
  font-family:'Helvetica',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2F4454;
}

button {
	cursor: pointer;
}

code {
  font-family: 'Courier New'
    monospace;
}
